html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

button {
  width: 204px;
  height: 55px;
  border-radius: 28px;
  background-color: #ffffff;
  color: #3695ff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border: none; }

.title-section {
  color: #3677fd;
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 35.12px;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 100px; }

.top {
  background-color: #194277;
  text-align: center;
  padding: 20px; }

.top-wrap {
  margin: 0 auto; }

.top-text {
  width: 346px;
  height: 12px;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  padding: 30px; }

/* .top-wrap{
    margin: 0 auto;
  }
}*/
.welcome-wrap {
  width: 100%;
  background-color: #3695ff;
  background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
  text-align: center; }

h1 {
  margin: 0 auto;
  padding-bottom: 42px;
  max-width: 800px;
  color: #ffffff;
  font-family: "Lato - Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-align: center;
  justify-content: center; }

.welcome-text {
  color: #e4eeff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 0 auto; }

.ring {
  color: #fff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0 0 5px 5px #599bfe, 0 0 5px 10px #4791fe; }

.bars-menu {
  display: block;
  justify-content: flex-end;
  text-align: right; }

.fa-bars {
  color: #fff;
  padding-top: 50px;
  padding-right: 50px; }

.fa-arrow-down {
  color: #8cc1ff;
  padding: 35px;
  height: 50px; }

.button-welcome {
  margin: 70px; }

.about-wrap {
  margin: 0 auto;
  padding: 100px; }

.about-text {
  text-align: center;
  color: #818181; }

.expert-wrap {
  background-color: #f1f8ff;
  width: 100%; }

.expert-container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #f1f8ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.expert-element {
  min-width: 30%;
  text-align: center;
  background-color: #f1f8ff;
  margin: 0 auto; }

.expert-element img {
  padding: 20px; }

.expert-element h3 {
  color: #3677fd;
  font-weight: 300;
  font-size: 24px; }

.expert-element p {
  padding: 10px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  max-width: 300px;
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  margin: 0 auto; }

@media only screen and (max-width: 600px) {
  .expert-element {
    display: block;
    width: 100%; } }

.latest-element-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.latest-element {
  background-color: #f4f4f4;
  width: 330px;
  height: 270px;
  margin: 15px auto;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap; }

.latest-element img {
  margin: 0 auto; }

.latest-element_img_center {
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

.client-wrap {
  background-color: #f1f8ff;
  padding-bottom: 70px; }

.clients-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.client-element {
  min-width: 24%;
  text-align: center;
  padding: 20px;
  opacity: 0.3; }

footer {
  margin: auto;
  display: flex;
  background-color: #3c98ff; }

.footer-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 65px;
  color: #fff;
  margin: 0 auto; }

.form-wrap {
  display: inline-block; }

#footer-hire-me {
  margin: 65px; }

@media screen and (max-width: 840px) {
  #footer-hire-me {
    margin: 25px; }
  .form-wrap {
    display: block;
    text-align: center; } }
