.expert-wrap{
  background-color: #f1f8ff;
  width: 100%;
}
.expert-container {
  max-width: 1170px;
  margin: 0 auto;
  background-color: #f1f8ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.expert-element {
  min-width: 30%;
  text-align: center;
  background-color: #f1f8ff;
  margin: 0 auto;
}
.expert-element img {
  padding: 20px;
}
.expert-element h3 {
  color: #3677fd;
  font-weight: 300;
  font-size: 24px;
}
.expert-element p {
  padding: 10px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 400;
  max-width: 300px;
  color: #5a5a5a;
  font-family: Lato, sans-serif;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .expert-element {
    display: block;
    width: 100%;
  }
}
