//@import "../../node_modules/normalize.css/normalize";
//@import "../../node_modules/slick-carousel/slick/slick";
//@import "../../node_modules/magnific-popup/dist/magnific-popup";


@import "reset";
@import "global";
@import "header";
@import "welcome";
@import "about";
@import "expert";
@import "latestWork";
@import "client";
@import "footer";
